
{% extends 'data/site.html' %}

{% block title %} Match Parser {% endblock %}
{% block body %}
    

    {% if error_message %}
        <p><strong> {{error_message}} </strong> </p>
    {% endif %}
<div class="container">
    <h1>List of Matches</h1>
    {% if matches %}
    
    
    <form action="{% url 'data:flip_win' %}" method = "post">
        {% csrf_token %}
            <ul>
                {% for match in matches %}
                <li>
                    <input type="radio" name="match" id="match{{ forloop.counter }}" value="{{ match.matchID }}" >
                    <lable for="match{{ forloop.counter }}">
                    <a href="{% url 'data:detail' match.matchID %}">  {{ match}} </a> <br>
                     <form action="{% url 'data:match-delete' match.matchID %}" method = "post" >
                         {% csrf_token %}
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>     
                     </form>
                     <a href="{% url 'data:match-update' match.matchID %}">  Update </a> <br>
                    </lable>
                </li>
                {% endfor %}
            </ul>
        <input type="submit" value="Flip Win">
    </form>
    
    {% else %}
        <h3>NO MATCHES</h3>
    {% endif %}
</div>
{% endblock %}